@font-face {
    font-family: "Exocet";
    src: url("../assets/Fonts/films.EXH_____.ttf");
  }

  figure {
    width: 100%;
    aspect-ratio: 1;
    /* The aspect-ratio CSS property
     allows you to define the preferred 
     width-to-height ratio of an element. 
     This property helps maintain a consistent
      shape for the element, regardless of its 
      size or the content inside it. 
      By specifying an aspect ratio,
       you can ensure that the element scales
       responsively while keeping its proportions intact. */
    margin: 0 0 60px;
    padding: 5px 20px 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
    cursor: pointer;
    position: relative;
    filter: drop-shadow(0 0 20px rgb(0 0 0/50%));
  }
  figure:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: top/cover;
    transform-origin: bottom;
    filter: brightness(0.9);
    transition: 0.5s;
  }
  figure:before {
    background-image: url(../assets/Images/necro-back.jpg);
  }
  figure + figure:before {
    background-image: url(../assets/Images/druid-back.jpg);
  }

  img {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: contrast(0.8) brightness(0.7);
    place-self: end center;
    transition: 0.5s;
  }

  figcaption {
    grid-area: 1/1;
    width: calc(100% + 40px);
    font-family: Exocet;
    color: #fff;
    font-size: min(32px, 5vmin);
    text-align: center;
    place-self: end center;
    transform: perspective(500px) translateY(100%) rotateX(-90deg);
    backface-visibility: hidden;
    transform-origin: top;
    background: #000;
    transition: 0.5s;
  }